<div class="container" *ngIf="tags && tags.length > 0">
    <app-tag 
        *ngFor="let tag of tags" 
        [deletable]=deletable 
        [tag]=tag 
        (deleted)=removeTag($event) 
        [postWhenClick]=postWhenClick
        (clickPost)=handleClick($event)
    ></app-tag>
</div>
<div class="container" *ngIf="!(tags && tags.length > 0)">
    <div class="level">
        <div class="level-item">
            <h1 class="title is-2">
                Ni oznak
            </h1>
        </div>
    </div>
</div>


