<button class="button is-primary" (click)="modalOpen=true">Uredi oznake</button>

<!-- tag modal -->
<div class="modal" [ngClass]="{'is-active': modalOpen}">
    <div class="modal-background" (click)='modalOpen = false'></div>
    <div class="modal-card">
        <!-- modal-body --> 
        <div class="content box">
            <div class="container">
                <h1 class="title is-3">Izbrane oznake:</h1>
                <div class="box">
                    <app-tags-list [tags]=clientTags [postWhenClick]=true (clickPost)=removeTag($event)></app-tags-list>
                </div>
                <h1 class="title is-3">Oznake še na voljo:</h1>
                <div class="box">
                    <app-tags-list [tags]=getAvalibleTags() [postWhenClick]=true (clickPost)=addTag($event)></app-tags-list>
                </div>

               
            </div>
        </div>
        <!-- /modal body -->
    </div>
    <button class="modal-close is-large" aria-label="close" (click)='modalOpen = false'></button>
  </div>