<div class="container">
    <div class="level">
        <div class="level-left">
            <h1 class="title is-1">Oznake strank</h1>
        </div>
        <div class="level-right">
            <app-tag-new (newTag)=tags.push($event) ></app-tag-new>
        </div>
    </div>
    <!-- list of tags -->
    <div class="container box">
        <app-tags-list class="has-text-centered"
            [deletable]=true 
            [tags]=tags
            (deletedTag)=removeTag($event)
        ></app-tags-list>

    </div>

    <h1 class="title is-2">Stranke</h1>
    <div class="container" *ngIf="tags">
        <!-- filter -->
        <ng-select
            [items]="filterTags"
            bindLabel="Oznake"
            placeholder="Izberi oznake"
            appendTo="body"
            multiple="true"
            [(ngModel)]="filteredTags"
            (add)=addClients($event)
            (remove)=removeClients($event)
            (clear)=clearClients()
        >
        </ng-select>
        <app-client-list [clients]=getClients()></app-client-list>
    </div>
</div>
