<article 
    class="media box gray-hover" 
    *ngIf="client" 
    (click)="route(client.id)"
>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{ client.name }}</strong> 
                <br>
                <span *ngIf="client.subtitle">{{ client.address }}</span>
            </p>
            <div *ngIf="tags && tags.length > 0" class="columns is-multiline">
                <div 
                    class="column has-text-centered" 
                    *ngFor="let tag of tags"
                >
                    <div class="tag is-success">
                        {{ tag.name }}</div>
                    </div>
            </div>
        </div>
    </div>
</article>
